<p id="notice"><%= notice %></p>
<% title "AKTUALNOŚCI - KINOPLEX" %>

<div style="col-12 movie">
    <% @news.each do |news| %>


        <h1><%= news.title%></h1>

        <p><%= news.body %></p>



    <% end %>
</div>

